.box {
    display: block;
    position: relative;
    max-height: 15px;
    overflow: hidden;
    transition: all 0.25s ease-in-out 0s;
    border-bottom:1px solid #ededed;
    padding: 5px 0;

    &.show {
        max-height: 1000px;
    }

    > strong {
        font-size: 11px;
        font-weight: 300;
        display: block;
        margin-bottom: 10px;
        line-height: 15px;
    }

    > p {
        font-size: 10px;
        font-weight: 300;
        line-height: 16px;
    }

    > i {
        position: absolute;
        right: 0;
        top: 5px;
        width: 15px;
        height: 15px;
        display: block;
        cursor: pointer;

        svg {
            width: 15px;
            height: auto;
        }
    }
}