.header {
    width: 100%;
    display: block;
    font-family: 'Nunito', sans-serif;

    .logo {
        display: flex;
        margin-top: 35px;
        justify-content: center;
    }

    .menuContainer {
        width: 100%;
        display: flex;
        flex-flow: row;
    }

    .menu {
        width: 100%;
        display: block;
        padding: 30px 0;

        > ul {
            display: flex;
            flex-flow: row;
            width: 300px;
            justify-content: space-between;
            margin: 0 auto;

            span {
                cursor: pointer;
                font-size: 12px;
                color: #333;
                text-transform: uppercase;
                position: relative;
                padding-bottom: 30px;

                &::before {
                    content: "";
                }

                &:hover {
                    color: #000;
                }
            }

            li {
                &:hover {
                    & > .subMenu {
                        max-height: 1000px;
                        padding: 43px 0 51px 0;
                    }
                }
            }
        }

        .subMenu {
            position: absolute;
            overflow: hidden;
            max-height: 0;
            background-color: #f4f4f4;
            width: 100%;
            left: 0;
            top: 145px;
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 0;
            transition: all 0.25s ease-in-out 0s;
        }

        .wrapper {
            width: 100%;
            max-width: 1040px;
            display: grid;
            grid-template-columns: 458px 208px 62px;
            grid-gap: 150px;
        }

        .col {
            width: 100%;

            strong {
                font-size: 12px;
                text-transform: uppercase;
                width: 100%;
                margin-bottom: 25px;
                display: block;
            }

            li {
                font-size: 10px;
                font-weight: 300;
                display: block;
                text-transform: uppercase;
                width: 50%;
                float: left;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
                
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            &.categories {
                ul {
                    width: 50%;
                    float: left;

                    &:last-child {
                        border-left: 1px solid #707070;
                        width: calc(50% - 51px);
                        float: left;
                        padding-left: 50px;
                    }
                }
            }

            &.accessories {
                ul {
                    width: 100%;
                }
            }

            &.intimates {
                li {
                    width: 100%;
                }
            }
        }
    }

    .phone {
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 60px;
        justify-content: space-between;
        margin-left: 45px;

        img {
            height: 20px;
        }
    }

    .cart {
        display: flex;
        flex-flow: row;
        align-items: center; 
        justify-content: space-between;
        margin-right: 45px;
        width: 110px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        position: relative;

        .logo {
            margin: 10px auto;
            width: 90px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .mobileBtMenu {
            position: absolute;
            left: 5px;
            top: 0;
        }

        .menu {
            position: fixed;
            left: -100%;
            width: 90%;
            transition: all 0.25s ease-in-out 0s;
            background-color: #fff;
            top: 45px;
            height: calc(100% - 45px);
            overflow: scroll;
            z-index: 10;

            &.open {
                left: 0;
            }

            > ul {
                flex-flow: column;
                margin: 0;
                width: auto;
                padding-left: 30px;

                span {
                    font-size: 16px;
                    height: 24px;
                    display: block;
                    line-height: 24px;
                    padding: 0;
                }
            }

            .subMenu { 
                position: static;
                overflow: visible;
                max-height: 1000px;
                background-color: #fff;
            }

            .wrapper {
                grid-template-columns: 1fr;
                grid-gap: 30px;
            }

            .col {
                &.categories {
                    ul {
                        width: 100%;
                        margin-bottom: 30px;

                        &:last-child {
                            border-left: 0;
                            width: 100%;
                            float: left;
                            padding-left: 0;
                        }
                    }
                }
            }
        }

        .phone {
            position: absolute;
            left: 15%;
            margin: 0;
            top: 0;
        }   

        .cart {
            position: absolute;
            right: 0;
            margin: 0;
            top: 0;
        }
    }
}