.specBan {
    width: 100%;
    display: flex;
    flex-flow: row;

    > div {
        width: 50%;
    }

    .textBox {
        background-color: #000;
        color: #fff;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: right;

        .wrapper {
            margin: 0 170px 0 0;
        }

        strong {
            font-size: 21px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 15px;
        }

        span {
            font-size: 11px;
            font-weight: 300;
            width: 240px;
            display: block;
        }

        .shopNow a {
            font-weight: 700;
            font-size: 10px;
            text-decoration: underline;
            display: block;
            margin-top: 20px;
            text-transform: uppercase;
            cursor: pointer;
            color: #fff;
        }
    }

    .imgBox {
        order: 2;
        img {
            width: 100%;
            height: auto;
        }
    }

    &.reverse {
        .textBox {
            order: 2;
            justify-content: flex-start;
            text-align: left;

            .wrapper {
                margin: 0 0 0 170px;
            }
        }

        .imgBox {
            order: 1;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .specBan {
        > div {
            width: 100%;
        }
        
        .textBox {
            height: 100%;
            justify-content: center;

            .wrapper {
                margin: 0 auto;
                text-align: center;
            }

            
        }

        &.reverse {
            .textBox {
                height: 100%;
                justify-content: center;
    
                .wrapper {
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
}