.footer {
    width: 100%;
    display: block;
    font-family: 'Nunito', sans-serif;

    .icon {
        color: #fff;
    }

    .menu {
        width: calc(100% - 50px);
        display: flex;
        padding: 15px 0 15px 50px;
        background-color: #000;
        flex-flow: row;
    }

    ul {
        display: flex;
        flex-flow: row;
        width: 580px;
        justify-content: space-between;
        margin-left: 50px;
        align-items: center;
    }

    li {
        color: #fff;
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
    }

    small {
        font-size: 7px;
        font-weight: 300;
        text-align: center;
        width: 100%;
        display: block;
        padding: 10px 0;
    }
}