.smallBanner {
    display: inline-flex;
    flex-flow: column;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .wrapper {
        width: 300px;
        text-align: center;
        display: block;
        margin: 60px auto 70px auto;
    }

    strong {
        font-size: 21px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 15px;
    }

    span {
        font-size: 11px;
        font-weight: 300;
        display: block;
        margin-bottom: 20px;
        line-height: 15px;
    }

    .shopNow a {
        font-weight: 700;
        font-size: 10px;
        text-decoration: underline;
        display: block;
        text-transform: uppercase;
        cursor: pointer;
        color: #000;
    }
}