.main {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-flow: row;
}

.imageSide {
    width: 62%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
        width: 100%;
        height: auto;
    }
}

.infoSide {
    width: 38%;

    .info {
        width: 43%;
        margin: 70px 0 0 28%;
        display: block;
    }

    small {
        font-size: 8px;
        font-weight: 300;
        margin-bottom: 5px;
        display: block;
    }

    h1 {
        font-size: 16px;
        font-weight: 300;
        display: block;
        margin-bottom: 10px;
    }

    .price {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-bottom: 45px;

        strong {
            font-size: 12px;
            font-weight: 700;
        }

        span {
            font-size: 11px;
            font-weight: 300;
        }
    }

    .skus {
        display: block;
        margin-bottom: 75px;

        .tamanho {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
        }

        .title {
            width: 50px;
            font-size: 12px;
            font-weight: 300;
        }

        .sku {
            width: calc(100% - 100px);
            display: flex;
            justify-content: space-between;

            span {
                font-size: 10px;
            }
        }
    }

    .buyButton {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #000;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 80px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .main {
        flex-flow: column;
    }

    .imageSide, .infoSide {
        width: 100%;
    }

    .imageSide {
        grid-template-columns: 1fr;
    }

    .infoSide {
        width: 100%;

        .info {
            width: 90%;
            margin: 40px auto;
            display: block;
        }
    }
}