.main {
    font-family: 'Nunito', sans-serif;
    padding-bottom: 50px;
}

.shelf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btShowMore {
    display: block;
    cursor: pointer;
    width: 200px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    transition: all 0.25s ease-in-out 0s;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .shelf {
        display: grid;
        grid-template-columns: 1fr;
    }
}