.news {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    background-color: #e5e5e5;
    padding: 25px 0 30px 0;
    overflow: hidden;

    .wrapper {
        width: 100%;
        max-width: 850px;
        float: right;
        margin-right: 345px;
        display: flex;
        justify-content: space-between;
    }

    .text {
        display: flex;
        flex-flow: column;
        width: 160px;
        justify-content: center;

        strong {
            font-size: 24px;
            margin-bottom: 10px;
            text-transform: uppercase; 
        }

        span {
            font-size: 11px;
            font-weight: 300;
        }
    }

    .fields {
        position: relative;
    }

    .name, .email {
        display: block;
        div {
            &::before {
                border: 0;
            }
        }
        input {
            font-size: 9px;
            font-family: 'Nunito', sans-serif;
            background-color: #fff;
            padding-left: 15px;
            height: 22px;
        }
    }

    .name {
        margin-bottom: 10px;

        input {
            width: 405px;
        }
    }

    .email {
        input {
            width: 300px;
        }
    }

    .button {
        background-color: #000;
        border-radius: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 105px;
        height: 35px;

        span {
            color: #fff;
            font-size: 9px;
            font-weight: 700;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .news {
        .wrapper {
            margin: 0;
            flex-flow: column;
            align-items: center;

            .text {
                margin-bottom: 20px;
            }
        }

        .fields {
            width: 100%;
        }

        .name {
            margin-bottom: 10px;
            
            > div {
                width: 100%;
            }

            input {
                width: 90%;
                margin: 0 auto;
            }
        }

        .email {
            margin-bottom: 10px;

            > div {
                width: 100%;
            }
            input {
                width: 90%;
                margin: 0 auto;
            }
        }

        .button {
            position: static;
            width: 95%;
            margin: 0 auto;
            display: block;
        }
    }
}