.main {
    width: 100%;
    display: block;
    font-family: 'Nunito', sans-serif;

    .smallBannerContainer {
        > div {
            width: calc(100% / 3);
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .main {
        .smallBannerContainer {
            > div {
                width: 100%;
            }
        }
    }
}