.fullbanner {
    width: 100%;
    display: block;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        background-color: #000;
        opacity: 0.35;
    }

    img {
        width: 100%;
        height: auto;
    }

    .wrapper {
        position: absolute;
        width: 185px;
        color: #fff;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 190px;
        text-align: center;
    }

    strong {
        font-size: 21px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 15px;
    }

    span {
        font-size: 11px;
        font-weight: 300;
        display: block;
        margin-bottom: 20px;
    }

    .shopNow a {
        color: #fff;
        font-weight: 700;
        font-size: 10px;
        text-decoration: underline;
        display: block;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .fullbanner {
        .wrapper {
            bottom: 30px;
        }
    }
}