.card {
    width: 100%;
    display: block;
    font-family: 'Nunito', sans-serif;

    .img {
        width: 100%;
        height: auto;
        display: block;
    }

    .info {
        display: block;
        margin: 20px 0 60px 30px;
    }

    .name {
        font-size: 13px;
        font-weight: 300;
        display: block;
        margin-bottom: 5px;
    }

    .priceBox {
        display: flex;
        flex-flow: row;
        width: 190px;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .price {
        font-size: 12px;
        font-weight: 700;
    }

    .installment {
        font-size: 12px;
    }

    .quick {
        display: block;
        width: 104px;
        height: 24px;
        line-height: 24px;
        border: 1px solid #000;
        background-color: #fff;
        color: #000;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        text-decoration: none;
        transition: all 0.25s ease-in-out 0s;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}